@charset "UTF-8";

/* ____ General Formatting ____ */

html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #ebebeb;
    margin: 0;
}


/* ____ main-content formatting ____ */

#main-content {
    width: 100%;
    min-height: 200px;
    display: block;
    margin: 120px auto 0 auto;
}


/* ____ secondary-content formatting ____ */

#secondary-content {
    width: 100%;
    min-height: 140px;
    display: block;
    text-align: center;
    padding: 5px 0 0 0;
    color: #444444;
}

#secondary-content-title {
    font-size: 28px;
}

.secondary-content-p {
    font-size: 14px;
    overflow: auto;
    font-weight: 700;
}

#username {
    color: #0e3475;
}


/* ____ return-link formatting ____ */

#return-link-box {
    display: block;
    width: 200px;
    height: 30px;
    margin: 15px auto 0 auto;
    text-align: center;
    font-weight: 700;
}

#return-link {
    text-decoration: none;
    color: #7a7a7a;
    transition: color 0.5s;
}

#return-link:hover {
    color: #0e3475;
}